<html ng-app="bumpapp">
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="/static/bower_components/d3/d3.js"></script>
<script src="/static/bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
<script src="/static/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<link rel="stylesheet" href="/static/bower_components/nvd3/nv.d3.css">
    
    <script src="/static/core.js"></script>

    <title>Bump Util</title>
    <style>
            .todo-holder {margin-top:40px;}

            body {margin-top:30px;}
            #chart {height:300px; width:400px;}
            #lineGraph {height:300px;width:350px;}
            
        </style>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
  </head>

  <body ng-controller="mainController">
	  <div class="container">
	    <div class="jumbotron text-center">
	            <h1>Bump Explore</h1>
	    </div>

		<div class="alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <strong>Remember</strong> Still in beta! 
		</div>
		<div class="row">
		    <div class="col-sm-4 text-center">
			</div>

			<!--Player Selection-->
			<div class="col-sm-2 text-center">
					Player One:
			    	<select ng-model="playerOne"
	                	ng-options="bumper as bumper for bumper in bumpers">
	            	</select>
			</div>
			<div class="col-sm-2 text-center">
					Player Two:
					<select ng-model="playerTwo"
	                	ng-options="bumper as bumper for bumper in bumpers">
	            	</select>
			</div>
			<div class="col-sm-4 text-center">
			<button type="submit" class="btn-success btn btn-lg" ng-click="getComparison()" style="margin-bottom:10px;">Go</button>
			</div>
		</div>

		<!--Header-->
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4 text-center">
			<h1><span class="label label-success">{{playerWins|angular}}</span> <span class="label label-danger">{{playerLosses|angular}}</span></h1> 
			</div>
			<div class="col-sm-6 text-center">
			</div>
		</div>

		<!--Table-->
		<div class="row">
			<div class="col-sm-3 text-center">
				Pairwise ledger:
				<table class="record-table table table-hover table-bordered">
				<tr>
				<td><b>Date</b></td>
				<td><b>Win</b></td>
				</tr>
					<tr ng-repeat="item in both" ng-class="{success: item[1]==1}">
		    			<td ng-repeat="actual in item">{{actual|angular}}</td>
		  			</tr>
				</table>
			</div>

		<script src="http://d3js.org/d3.v3.js"></script>

		<div id="chart" class="col-sm-4 text-center">
		  <svg></svg>
		</div>

		<div id="lineGraph" class="col-sm-5 text-center">
		<div style="position:relative">
			<svg></svg>
		</div>
		</div>

		</div>


  </body>
</html>